body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    text-align: center;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{
    text-align: center;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    padding: 5px;
   
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #d36e0f;
    color: white;
  }
  
  
  .topnav .icon {
    display: none;

  }
  .bot{
    text-align: center;
    padding: 0.1em;
  }
  .container .modal-container .card .card-img-top{
    width: 700px;
    margin-left: 300px;
  }
  .modal{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto;
    padding-top: 200px;
    display: none;
    padding: 0.5rem;
   
}

.contenidoModal{
    background-color: #FFFFFF;
    width: 60%;
    margin: auto;
    position: relative;
    padding: 1rem;
    animation-name: animarmodal;
    animation-duration: 0.5s;
}
.contenidoModalArea{
  background-color: #FFFFFF;
  width: 60%;
  margin: auto;
  position: relative;
  padding: 1rem;
  animation-name: animarmodal;
  animation-duration: 0.5s;
}

@keyframes animarmodal {
    from {top: -300px; opacity: 0;}
    to{top: 0; opacity: 1;}
}
.cerrarModal{
    font-size: 2rem;
    float: right;  
}

.cerrarModal:hover{
    cursor: pointer;
}
.cerrarModalArea{
  font-size: 2rem;
  float: right;  
}

.cerrarModalArea:hover{
  cursor: pointer;
}

.contenidoModal h2{
    background-color: blue;
    color: #FFFFFF;
    padding: 1rem 0;
    text-align: center;
    clear: both;
}

.contenidoModalArea h2{
  background-color: blue;
  color: #FFFFFF;
  padding: 1rem 0;
  text-align: center;
  clear: both;
}
  