body{
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h1{
    font-size: 2.9em;
    text-align: center;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
button{
    align-items: center;
}
.boton{
    text-align: center;
   
}